.navbar-brand img {
  width: 50px;
  margin-top: 0px;
}

nav {
  height: 75px;
  padding-top: 0px;
}

.navbar {
  background-color: #EDA711;
  border-radius: 0;
}

.jumbotron {
  position: relative;
  background-color: #C3E3E2;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}
#addQuestion,
#displayQuestions,
#addAnswer,
#displayAnswers {
  background-color: #DEE6BA;
  border-radius: 5px;
}

#addQuestion h5,
#addAnswer h5 {
  padding-top: 15px;
}
#addQuestion form,
#addAnswer form {
  padding: 0px 0 15px 0;
}

#displayQuestions {
  padding: 0 10px 10px 10px;
}

.question {
  background-color: #C3E3E2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
