<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Advice Owl</h1>
    <p>An online community for answering life's important questions.</p>
  </div>
</div>

<div class="row col-sm-12 col-md-12 col-lg-12" id="mainContent">
  <div class="col-sm-4 col-md-4 col-lg-4" id="addQuestion">
    {{add-question saveQuestion="saveQuestion"}}
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8" id="displayQuestions">
    <h3>Recent Hoots</h3>
    {{#each model as |question|}}
      {{question-tile question=question deleteQuestion="deleteQuestion" update="update"}}
    {{/each}}
  </div>
</div>
