<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Advice Owl</h1>
    <p>An online community for answering life's important questions.</p>
  </div>
</div>

<div class="addQuestion">
  {{add-question saveQuestion="saveQuestion"}}
</div>

<div class="displayQuestions">
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>
