<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Advice Owl</h1>
    <p>An online community for answering life's important questions.</p>
  </div>
</div>


  <div class="addQuestion col-sm-4 col-md-4 col-lg-4">
    {{add-question saveQuestion="saveQuestion"}}
  </div>
  <div class="displayQuestions col-sm-8 col-md-8 col-lg-8">
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </div>
