<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Advice &amp; Advise</h1>
    <p>An online community for answering life's important questions.</p>
    <button class="btn btn-warning btn-lg">{{#link-to 'about'}}Learn More &raquo;{{/link-to}}</button>
  </div>
</div>

<!-- <div>
  {{add-question save="save"}}
</div> -->

<div>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>
